
#maindiv{
  margin-top: 50px;
margin-left: 10px;
}
#box {
  border: 2px solid ghostwhite;
  background-color: #BF0D12;
  margin-left: 150px;
  margin-right: 150px;
  padding: 10px;
}

#filter {

  
padding: 50px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: row;
  margin-top: -70px;
  
  box-sizing: border-box; /* Include padding and border in the width/height calculation */
}

#filterp{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#pricess{
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
}
#prices{
  width: 135px;
  height: 20px;
  /* margin: 30px; */
}


#select{
width: 185px;
height: 30px;
margin-left: 10px;
}
#option{
  font-size: 18px;
}




.pagee{
    width: 60px;
    height: 60px;
    color: #c4bfbf;
    background-color: #BF0D12;
    margin: 3.5px;
    cursor: pointer;
    

}
.pagee:hover{
    background-color: rgb(255, 0, 0);
}
.pagi{
    display: flex;
    
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -80px;
    
}

.product-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
  padding:  50px;
  
}
.product-item{
    border: 2px solid rgb(203, 199, 199);
    margin: 5px;
    padding: 20px ;
    background-color: rgb(247, 247, 224);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.product-item:hover{
    transform: scale(1.05); 
    background-color: rgb(246, 245, 235);
}
#wines>div{
  width: 270px;
  border: 1px solid gray;
  padding: 20px;
}
#flag{
  width: 20%;
}
#reg{
  font-size: 20px;
font-weight: bolder;
color: black;

}
#rating{
  text-align: left;

  margin-top: -20px;
  margin-left: -17px;
}
#rate{
  font-size: 30px;
  color: black;
}
.top>img{
  width: 100%;
}
.belowName>img{
     width: 20px;  
}
.wineimg{
  text-align: center;
  margin-top: 10px;
}
.wineimg>img{
  width: 20%;
  height: 40%;
}
.priceDiv{
  display: flex;
  height: 80px;
 justify-content: space-between;
}
.cart{
  height: 40px;
  margin-top: 30px;
  width: 40px;
  background-color: #BF0D12;
  color: white;
  border: 0px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5px;
}
.cart:hover {
  background-color: rgb(255, 0, 0);
}

.priceDiv>h3{
  margin-top: 35px;
}

.top{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.heart{
  cursor: pointer;
}

.belowName{
  display: flex;
  justify-content: space-between;
  color: gray;
}




/* Your existing styles can go here */

/* Cart popup styles */
.cart-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.cart-popup.active {
  display: block;
}

.cart-popup h2 {
  margin-top: 0;
}

.cart-popup button {
  background-color: #BF0D12;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}


#star{
  display: flex;
  flex-direction: column;
}
#cata{
  font-size: 45px;
  margin-left: 30px;
  font-family: 'PT Mono', monospace;
}
#sort{
  display: flex;
  margin-right: 50px;
  justify-content: end;
}
#sort>label{
  color: gray;
}
#sorting{
  margin-left: 10px;
  border: #FFF8E9;
  background-color: #FFF8E9;
}

#country{
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
#toggleFilters{
  display: none;
  background-color: #BF0D12;
  border: 2px solid #BF0D12;  
  cursor: pointer;
  color: white;
  margin:10px;
margin-left: 20px;
}

@media(max-width: 1300px){
  #wines {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
  }
} 
@media (max-width: 1000px){
#toggleFilters{
  display: block;
  position: relative;
  padding: 10px;
 bottom: 30px;
 border-radius: 8px;
 right: 250px;
}
.filter-panel #first {
  display: none;
}
#sort{
  margin-right: 150px;
}

.filter-panel.active #first {
  display: block;
}


#main {
  flex-direction: column;
  align-items: center;
}
}

@media (max-width: 768px) {
  



  
  


  #toggleFilters{
    display: block;
    position: relative;
    padding: 10px;
   bottom: 30px;
   border-radius: 8px;
   right: 30px;
  }
  #sort{
    position: relative;
    top: 60px;
    right: 80px;
  }
  .filter-panel #first {
    display: none;
  }
  
  /* Show the filter panel when it's expanded */
  .filter-panel.active #first {
    display: block;
  }

  
}


@media (max-width: 539px){
  #wines {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
  }
  #sort{
    position: relative;
    top: 60px;
    right: 80px;
  }
}

@media (max-width: 480px){
  #sort{
        left: 40px;
  }
}